name: CI - Tests and Build

on:
  push:
    branches: ["main", "godav"]
  pull_request:
    branches: ["main", "godav"]

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
      SUPABASE_SERVICE_ROLE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install deps
        run: npm install

      - name: Run tests
        run: npm run test:run

      - name: Build Next.js
        run: npm run build

      - name: Mensaje fin de semestre
        run: echo "CI pasó correctamente y nosotros también "
